{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/job_details.css') }}">
<style>
    /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /*
        Label the data
        */
        td:nth-of-type(1):before {
            content: "Job Start datetime:\A";
        }

        td:nth-of-type(2):before {
            content: "Duration:";
        }

        td:nth-of-type(2):after {
            content: " (h:mm:ss)";
        }

        td:nth-of-type(3):before {
            content: "Status:";
        }

        td:nth-of-type(4):before {
            content: "Logfile:\A";
        }
    }

    .hidden {
        display: none;
    }
</style>
<div class="p-4 p-md-5 bg-body-tertiary rounded-3">
    <div class="row">
        <div class="col-12 rounded text-center">
            <img src="/static/img/arm80.png" alt=""><br/>
            <strong>Welcome to your Automatic Ripping Machine<br></strong>
        </div>
    </div>
    <br>
    {% with pages=pages, page_name="route_history.history" %}
        {% include "pagination.html" %}
    {% endwith %}
    <!-- Main Body -->
    <div class="table-responsive">
        <table class="table table-striped" data-sortable>
            <caption>Previous rips</caption>
            <thead class="table-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Start Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Status</th>
                <th scope="col">Logfile</th>
                <th scope="col" data-no-sort>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
            <tr>
                <th scope="row" class="text-wrap"><a href="/jobdetail?job_id={{ job.job_id }}">{{
                    job.title|truncate(50, True) if job.title is not none else 'Title unknown' }}</a>
                </th>
                <td data-sort-value="{{ job.start_time.isoformat() if job.start_time is not none else '' }}">{{ job.start_time.strftime(date_format) if job.start_time is not none }}</td>
                <td>{{ job.job_length }}</td>
                <td class="{{ job.status }}">
                    {% set status_icon = 'fail' if job.status == 'transcode_failed' else job.status %}
                    <img src="/static/img/{{ status_icon }}.png" height="30" width="30"
                         alt="{{ job.status }}" title="{{ job.status }}">
                </td>
                <td><a href="/logs?logfile={{ job.logfile }}&mode=full">{{ job.logfile|truncate(50, True)
                    if job.logfile is not none else 'Unknown logfile' }}</a></td>
                <td>
                    {% if job.status == 'transcode_failed' %}
                        <button type="button" class="btn btn-primary btn-sm"
                                hx-get="/json?job={{ job.job_id }}&mode=retry_transcode"
                                hx-confirm="Retry transcoding this job using the files already ripped from the disc?"
                                data-confirm-title="Retry transcoding this job?"
                                hx-swap="none"
                                hx-on::after-request="if(event.detail.successful) location.reload()">Retry Transcode
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% with pages=pages, page_name="route_history.history" %}
        {% include "pagination.html" %}
    {% endwith %}
</div>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
{% block js %}
{{ super() }}
<script type="application/javascript">activeTab("history");</script>
{% endblock %}
