{% extends "base.html" %}
{% block title %}Logs{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="table-responsive">
                <table id="riptable" class="table table-striped" data-sortable>
                    <caption>Active Rips</caption>
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td class="text-nowrap"><a href="/titleupdate" title="Active Rips">{{ job.title }}</a></td>
                            <td class="text-nowrap">{{ job.start_time }}</td>
                            <td class="text-nowrap">{{ job.status_label }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
{% block js %}{{ super() }}{% endblock %}
