{% extends "base.html" %}
{% block title %}Parameter Changer{% endblock %}
{% block nav %}{{ super() }}{% endblock %}
{% block content %}
    <div class="container justify-content-center">
        <div class="row justify-content-center" style="flex-wrap: nowrap">
            <div class="col-lg-7">
                <form id="changeParams" hx-get="/json" hx-swap="none">
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3 flex-nowrap">
                        <span class="input-group-text">{{ form.RIPMETHOD.label }}</span>
                        {{ form.RIPMETHOD(class="form-select") }}
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <span class="input-group-text">{{ form.DISCTYPE.label }}</span>
                        {{ form.DISCTYPE(class="form-select") }}
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <span class="input-group-text">{{ form.MAINFEATURE.label }}</span>
                        {{ form.MAINFEATURE(class="form-check-input mt-0 ms-2") }}
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <span class="input-group-text">{{ form.MINLENGTH.label }}</span>
                        {{ form.MINLENGTH(class="form-control") }}
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <span class="input-group-text">{{ form.MAXLENGTH.label }} </span>
                        {{ form.MAXLENGTH(class="form-control") }}
                    </div>
                    <input name="mode" value="change_job_params" hidden>
                    <input name="config_id" value="{{ config.CONFIG_ID }}" hidden>
                    <button class="btn btn-info btn-lg w-100" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
