{% block ripper %}
    <div class="tab-pane pt-4" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <h4> Ripper ARM Settings </h4>
        <form id="ripperSettings" name="ripperSettings" hx-post="/save_settings" hx-swap="none">
            {{ form.hidden_tag() }}
            {% for k, v in settings.items() %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="{{ k }}">{{ k }}: </span>
                    <input type="text" class="form-control" aria-label="{{ k }}" name="{{ k }}"
                           placeholder="{{ v }}" value="{{ v }}" aria-describedby="{{ k }}"
                           {% if ripper_read_only %}
                             disabled="" title="arm.yaml is read-only"
                           {% endif %}>
                    <a class="input-group-text" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                       data-bs-placement="top" data-bs-content="{{ jsoncomments[k]| replace("#", "\n") }}" title="{{ k }}">
                        <img title="More information" src="{{ url_for('static', filename='img/info.png') }}" width="20"
                             height="24" alt="More Info">
                    </a>
                </div>
            {% endfor %}
            <button id="settings" class="btn btn-secondary btn-lg w-100" form="ripperSettings"
                    type="submit">Submit
            </button>
        </form>
    </div>
{% endblock %}
