{% if authenticated %}
    {% extends "base.html" %}
{% else %}
    {% extends "support/base_simple.html" %}
{% endif %}
{% block content %}
    <h2 class="mb-4">Dashboard</h2>

    <div class="row g-4">
        <div class="col-lg-8">
            <div id="joblist"
                 hx-get="/json?mode=joblist"
                 hx-trigger="load, every {{ armui_cfg['index_refresh'] }}ms [!document.querySelector('#joblist .dropdown-menu.show')]"
                 hx-swap="innerHTML">
                {% include "_active_rips_section.html" %}
            </div>

            {% if recent_history %}
                <div class="row mt-4">
                    <div class="col-12 d-flex justify-content-center align-items-center gap-2">
                        <h5 class="mb-0"><strong>Recent History</strong></h5>
                        <a href="/history" class="small link-secondary link-underline-opacity-0">View all</a>
                    </div>
                </div>
                <div class="row row-cols-1 g-3">
                    {% with results=recent_history %}
                        {% include "_joblist_cards.html" %}
                    {% endwith %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <h5 class="text-center"><strong>System Information</strong></h5>
            {% include 'settings/sysinfo.html' %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="application/javascript">activeTab("home");</script>
{% endblock %}
