{% if authenticated %}
    {% extends "base.html" %}
{% else %}
    {% extends "support/base_simple.html" %}
{% endif %}
{% block content %}
    <h2 class="mb-4">Dashboard</h2>

    <div class="row g-4">
        <div class="col-lg-8">
            <div id="joblist"
                 hx-get="/json?mode=joblist" hx-trigger="load, every {{ armui_cfg['index_refresh'] }}ms" hx-swap="innerHTML">
                {% include "_active_rips_section.html" %}
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="text-center"><strong>System Information</strong></h5>
            {% include 'settings/sysinfo.html' %}
        </div>
    </div>
{% endblock %}
