<!doctype html>
<html lang="en">
{% include 'head.html' %}
<body>
{% block nav %}
    <!-- TOAST -->
    <div aria-live="polite" aria-atomic="true">
        <div id="toastHolder" class="position-fixed top-0 end-0 p-3" style="z-index: 1080;"></div>
    </div>
    <!-- Main -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/arm40nw.png') }}" width="114" height="40" alt="ARM">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li id="navhome" class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li id="navlogin" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
                <div class="form-check form-switch text-white">
                    <input type="checkbox" class="form-check-input" id="darkSwitch"/>
                    <label class="form-check-label" for="darkSwitch">Dark Mode</label>
                </div>
            </div>
        </div>
    </nav>
    <script src="{{ url_for('static', filename='js/dark-mode-switch.js') }}"></script>
{% endblock %}
<main class="container-fluid p-3 p-md-4">
    <!-- Errors -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="message1" class="alert alert-{{ category if category !=" message
    " else 'info' }} text-center"
                     role="alert">
                    <h4 class="alert-heading">{{ message|safe }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer id="footer" class="mt-4">
        {% block footer %}
            <p class="text-center text-muted"> Automatic Ripping Machine.
                Find us on <a
                        href="https://github.com/automatic-ripping-machine/automatic-ripping-machine">github</a>.
            </p>
        {% endblock %}
    </footer>
</main>
{% block js %}
{% endblock %}
</body>
</html>
